<body>
    <h3>Les échéances</h3>


    <div class="well">
        173 jours du 2016/11/21 au 
        2017/5/14 
        <BR> 14 joueurs = 13 joueurs contre qui jouer
        <BR> 173/13~13.307 jours/joueur
        <BR> 2016/11/21 + 13.307 = 2016/12/04
    </div>
</body>