<body>
    <h3>Confirmation de l'incription</h3>


    <div class="well">
        Inscription enregistrée


        <!-- $advert = $this->getDoctrine()
        
          ->getManager()
        
          ->getRepository('OCPlatformBundle:Advert')
        
          ->find($id)
        
        ; -->
        {{ inscrit.username}} {{inscrit.email}}
        <a href='http://moueza.esy.es/m/'>OK</a>
    </div>
</body>