
<!DOCTYPE HTML>

<html>

    <head>

        <meta charset="utf-8">

        <title>{% block title %}DTC 3{% endblock %}</title>

    </head>

    <body>


        {% block body %}

        {% endblock %}


    </body>

</html>